@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.field_with_errors {
  input,
  textarea {
    @apply border-red-500;
  }
}

.field_without_errors {
  input,
  textarea {
    @apply border-green-500;
  }
}

.htmx-settling {
  tr {
    transition: 1s ease-in;
  }

  tr.draft {
    @apply bg-red-500 text-white;
  }

  tr.live {
    @apply bg-green-500 text-white;
  }
}
