.field_with_errors {
  input,
  textarea {
    border: 2px solid red;
  }
}

.field_without_errors {
  input,
  textarea {
    border: 2px solid green;
  }
}

.live {
  background: green;
  color: white;
  padding: 2px;
}

.htmx-settling {
  tr {
    transition: 1s ease-in;
  }

  td.draft {
    background: red;
    color: white;
  }

  tr.live {
    background: green;
    color: white;
  }
}

.post-id {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border: 2px solid gray;
}
