<%= content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload" />
<% end %>

<section class="space-y-8">
  <h1 class="text-3xl font-extrabold">
    New Post
  </h1>

  <%= render 'form', post: @post %>

  <span class="inline-flex rounded-md shadow-sm">
    <%= link_to posts_path, class: 'relative inline-flex items-center px-4 py-2 rounded-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100' do %>
      Back
    <% end %>
  </span>
</section>
